{% extends 'base.html.twig' %}

{% block title %}Permisos {{ perfil.descripcion|capitalize }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sweetalert2') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parsley') }}
    {{ encore_entry_script_tags('sweetalert2') }}
{% endblock %}
{% block content %}
    <h2>Permisos {{ perfil.descripcion|capitalize }}</h2>

    <div class="row">
        <div class="col-md-6 col-12">
            <form class="form">
                <div class="card mt-4">
                    {% for modulo in modulos %}
                        <div class="card-header">
                            <h4 class="card-title">{{ modulo }}</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <div class='form-check'>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="VIEW_{{ modulo }}"
                                                           class='form-check-input' name="VIEW_{{ modulo }}"
                                                           checked>
                                                    <label for="checkbox5">Ver</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <div class='form-check'>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="EDIT_{{ modulo }}"
                                                           class='form-check-input' name="EDIT_{{ modulo }}"
                                                           checked>
                                                    <label for="checkbox5">Editar</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="card-content">
                        <div class="card-body">
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row my-3">
        <div class="offset-4 col-2">
            <a class="btn btn-primary w-100" href="{{ path('permission_index') }}">Volver a la lista</a>
        </div>
    </div>

    {# <a href="{{ path('permission_edit', {'id': permission.id}) }}">edit</a> #}

    {# {{ include('permission/_delete_form.html.twig') }} #}
{% endblock %}
